<footer class="footer">
  <small>
    <%= t "the_" %> <%= link_to t("ror_"), Settings.railstutorial %>
    <%= t "by_" %> <%= link_to t("Michael_Hartl"), Settings.michaelhartl %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about"), about_path %></li>
      <li><%= link_to t("contact"), contact_path %></li>
      <li><%= link_to t("news"), Settings.newsrailstutorial %></li>
    </ul>
  </nav>
</footer>
